// *********************************************************************************************************************
// DIALOGUES.SCSS
// Defines all dialogues
// *********************************************************************************************************************
//
// Overlay used by all dialoges - tints the background. ================================================================
.overlay {
    position   : absolute;
    z-index    : 10;
    left       : 0;
    right      : 0;
    top        : 0;
    bottom     : 0;
    background : rgba(#000, 0.8);
    display    : none;
}
//
// "Fetching Data From Server" =========================================================================================
.dialog.loading {
    width         : 40%;
    height        : 20%;
    margin        : 40% auto 0 auto;
    @include border-radius(5px);
    padding       : 1%;
    @include box-sizing(border-box);
    text-align    : center;
    background    : #fff;
    header h1, p {
        font-size : 12px;
        @include text-shadow(1px 1px 1px #888);
        margin    : 1% 0 0 0;
    }
    p {
        @include text-shadow(none);
    }
    .animation {
        width     : image-width("loading.gif");
        height    : image-height("loading.gif");
        margin    : 5% auto 0 auto;
        @include retina-bg("loading.gif", "loading@2x.gif");
    }
}
//
// "Refresh" ===========================================================================================================
.dialog.jsonfail {
    width         : 60%;
    height        : 30%;
    margin        : 35% auto 0 auto;
    @include border-radius(5px);
    padding       : 1%;
    @include box-sizing(border-box);
    text-align    : center;
    background    : #fff;
    header h1, p {
        font-size : 14px;
        @include text-shadow(1px 1px 1px #888);
        margin    : 1% 0 5% 0;
    }
    p {
        font-size: 12px;
        @include text-shadow(none);
    }
}
//
// Star Info ===========================================================================================================
.dialog.starinfo {
    display: none;
    width: 40%;
    height: 40%;
    background: #fff;
    @include border-radius(5px);
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 30%;
    header h1, p {
        font-size : 14px;
        @include text-shadow(1px 1px 1px #888);
        margin    : 1% 0 5% 0;
    }
}
//
