//! ********************************************************************************************************************
// GALMAP.SCSS
// contains all necessary styles for the galactic map
// *********************************************************************************************************************
//
$mapBg: "galmap/background.map.stars.jpg";
// Main Section ========================================================================================================
.map.galactic {
    position                           : relative;
    width                              : 100%;
    max-width                          : 600px; // TODO: this value is temporary
    min-width                          : 300px;
    background                         : #eee; // TODO: this color is temporary just to make layout easier
    padding                            : 2%;
    .hiddenImages {
        display                        : none;
    }
//
    // Main Drawing Stage - viewport and canvas ========================================================================
    #mapViewPort {
        overflow                       : hidden;
        position                       : relative;
        width                          : 100%;
        height                         : 100px; // this is set by galmap.src.js to correct value
        background                     : #000;
        z-index                        : 2;
        &:hover {
            cursor                     : move;
        }
        #mapCanvas {
            z-index                    : 1;
            position                   : relative;
            background                 : image-url($mapBg) repeat;
            background-size            : image-width($mapBg) image-height($mapBg);
        }
    }
//
    // Horizontal Ruler With Coordinates - viewport and canvas =========================================================
    #viewPortRulerHorz {
        overflow                       : hidden;
        position                       : relative;
        width                          : 100%;
        height                         : 25px;
        margin-bottom                  : 5px;
        background                     : #000;
        border-top-right-radius        : 5px;
        #rulerHorzCanvas {
            z-index                    : 1;
            position                   : relative;
            &:hover {
                cursor                 : e-resize;
            }
        }
    }
//
    // Vertical Ruler With Coordinates - viewport and canvas ===========================================================
    #viewPortRulerVert {
        overflow                       : hidden;
        position                       : relative;
        width                          : 25px;
        height                         : 100px; // this is set by galmap.src.js to correct value
        background                     : #000;
        border-bottom-left-radius      : 5px;
        #rulerVertCanvas {
            z-index                    : 1;
            position                   : relative;
            &:hover {
                cursor                 : n-resize;
            }
        }
    }
//
    // Focus Button top/left ===========================================================================================
    .mapbutton.focushome {
        width                          : 25px;
        height                         : 25px;
        display                        : inline-block;
        position                       : relative;
        margin-bottom                  : 5px;
        vertical-align                 : middle;
        text-indent                    : -1000em;
        background                     : #000;
        border-top-left-radius         : 5px;
        &:before {
            position                   : absolute;
            left                       : 6px;
            top                        : 6px;
            display                    : inline-block;
            content                    : "\E021";
            text-indent                : 0;
            margin                     : 0;
            padding                    : 0;
            font                       : 13px/13px 'Glyphicons Regular';
            color                      : #fff;
            vertical-align             : middle;
            text-transform             : none;
            -webkit-font-smoothing     : antialiased;
            @include transition(all 500ms ease);
        }
        &:hover:before {
            color                      : #99ccff;
            @include transform(rotate(360deg));
        }
    }
    // layout for the map area =========================================================================================
    // theatre: the whole area; map + horizontal ruler + vertical ruler
    // stage: the viewport for the canvas drawing area
    .theatre {
        position                       : relative;
        width                          : 100%;
        .stage.left {
            float                      : left;
            width                      : 25px;
            margin-right               : 5px;
        }
        .stage.right {
            margin-left                : 30px;
        }
    }

    // Zoom Icons ======================================================================================================
    .theatre .zoom {
        position                       : absolute;
        bottom                         : 0;
        right                          : 0;
        z-index                        : 5;
        list-style-type                : none;
        margin                         : 0;
        padding                        : 0;
        width                          : 53px;
        .icon {
            display                    : block;
            position                   : relative;
            float: left;
            margin-right: 5px;
            vertical-align             : middle;
            text-indent                : -1000em;
            width                      : 30px;
            height                     : 30px;
            margin-bottom              : 5px;
            background                 : rgba(#fff, 0.7);
            @include transition(all 500ms ease);
            @include border-radius(2px);
            box-shadow                 : 1px 1px 5px rgba(#000,0.8);
            &:before {
                position               : absolute;
                left                   : 4px;
                top                    : 5px;
                display                : inline-block;
                text-indent            : 0;
                margin                 : 0;
                padding                : 0;
                font                   : 20px/20px 'Glyphicons Regular';
                color                  : #333;
                vertical-align         : middle;
                text-transform         : none;
                -webkit-font-smoothing : antialiased;
                @include transition(all 500ms ease);
            }
            &.in:before { content      : "\E237"; }
            &.out:before { content     : "\E238"; }
            &:hover { background       : rgba(#fff, 1); }
            &:hover:before { color     : #000; }
            &.disabled {
                background             : rgba(#ddd, 0.5);
                cursor                 : not-allowed;
            }
            &.disabled:hover:before {
                color                  : #333;
            }
        }
        // Marker: Current Zoom Level ==================================================================================
        #currentZoomMarker {
            width                      : 13px;
            height                     : 55px;
            margin-right               : 5px;
            float                      : right;
            background                 : rgba(#fff, 0.7);
            @include border-radius(2px);
            @include transition(all 500ms ease);
            box-shadow                 : 1px 1px 5px rgba(#000, 0.8);
            padding                    : 5px 0;
            span {
                text-indent            : -1000em;
                display                : block;
                height                 : 12px;
                width                  : 13px;
                background: inline-image("galmap/zoomlevel.png") -13px 0 no-repeat;
                &:first-child {
                    height             : 7px;
                }
                &.active {
                    background-position: 0 -7px;
                    &:first-child { background-position: 0 0; }
                }
            }
        }
    }

}

